{% extends "base.html.twig" %}
{% block body %}
    <div class="flex-center position-ref full-height">

        <div class="content">
            <h3> Recette {{ recette.id }}</h3>
            <ul>
                <li>Nom : {{ recette.name }}</li>
                <li>Etapes : {{ recette.steps }}</li>
                <li>Ingrédients : {{ recette.ingredients }}</li>
                <li>Temps de préparation : {{ recette.preparationTime | date("H:i:s") }}</li>
                <li>Temps de cuisson : {{ recette.cookingTime | date("H:i:s") }}</li>
                <li>Matériels : {{ recette.materials }}</li>
                <li>Astuce : {{ recette.astuce }}</li>
                <li>Crée le : {{ recette.createdAt | date }}</li>
                <li>Mise à jour le  : {{ recette.updatedAt | date}}</li></br>
            </ul>

            {% if app.user %}
            {{ form_start(formVote) }}
            {{ form_widget(formVote) }}
            {{ form_end(formVote) }}
            {% endif %}
            <b>Moyenne vote : {{ moyenne }}</b>

            {% if app.user %}
            <h5>Commentaires</h5>
            {% for comment in comments %}
                {{ comment.content }}</br>
                Crée le :{{ comment.createdAt | date }} - Modification le : {{ comment.updatedAt | date }}</br>
                {% if app.user %}
                    {% if app.user.admin %}
                        <a href="{{ path('app_recette_editcommentaire', {'id' : comment.id}) }}"><button>Modification</button></a></br>
                        <a href="{{ path('app_recette_deletecommentaire', {'id' : comment.id}) }}"><button>Supprimer</button></a></br>
                    {% endif %}
                {% endif %}
            {% endfor %}

            {{ form_start(formComment) }}
            {{ form_widget(formComment) }}
            {{ form_end(formComment) }}
            <br>
            {% if app.user %}
                {% if app.user.admin %}
                    <a href="{{ path('app_recette_delete', {'id' : recette.id}) }}">DELETE</a>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}