{% extends "base.html.twig" %}

{% block body %}
    <div class="flex-center position-ref full-height">

        <div class="content">
            <div class="title m-b-md">
                Yummy
            </div>

            <div class="links">
                <a href="http://www.iut-lens.univ-artois.fr">Marathon du Web</a>
            </div>


            <h3>*** Articles ***</h3>
            {% for article in articles %}
                    Titre :{{ article.title }}<a href="{{ path("app_article_articleid", {"id" :article.id}) }}"><button>Affichage</button></a></br>
            {% endfor %}

        </div>
    </div>

    <!--Slide-->
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">

            <!-- Slide One - Set the background image for this slide in the line below -->
            <div class="carousel-item active" style="background-image: url('./build/img/slidenoel.jpg')">
                <div class="carousel-caption d-none d-md-block">
                    <h1 class="titre">Découvrez </br> nos recettes de noël</h1>
                    <a href="#" target="_blank"> <input type="button" value="Les Recettes" class="bouton"></a>
                </div>
            </div>

            <!-- Slide Two - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url('http://placehold.it/1900x1080')">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Second Slide</h3>
                    <p>This is a description for the second slide.</p>
                    <a href="#" target="_blank"> <input type="button" value="" class="bouton"></a>
                </div>
            </div>

            <!-- Slide Three - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url('http://placehold.it/1900x1080')">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Third Slide</h3>
                    <p>This is a description for the third slide.</p>
                    <a href="#" target="_blank"> <input type="button" value="" class="bouton"></a>
                </div>
            </div>

        </div>

        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>


    <!-- suite accuel -->

    <div>
        <div class="univers">

            <div>
                <h2 class="titre-univers"> Nos Univers </h2>
            </div>

            <div>
                <img src="./build/img/icondessert2.png">
            </div>

            <div>
                <img src="./build/img/iconboisson2.png">
            </div>

            <div>
                <img src="./build/img/icongluten2.png">
            </div>

            <div>
                <img src="./build/img/iconplat2.png">
            </div>

            <div>
                <img src="./build/img/iconvegan2.png">
            </div>
        </div>
    </div>

    <!-- Portfolio Section -->
    </br></br>

    <div class="row">

        {% for recette in recettes %}

        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="{{ recette.media.path }}" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="{{  path("app_recette_recetteid", {"id" :recette.id}) }}"> {{ recette.name }}</a>
                    </h4>
                    <p class="card-text">{{ recette.steps| truncate(20, false, '...') }}</p>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>


{% endblock %}
