<link rel="stylesheet" type="text/css" href="../public/style-menu.css">

<div id="menu-desktop">
    <div id="logo">
        <a href="http://172.31.146.100/~lpGroupe2/"><img src="../public/image/logo.png"></a>
    </div>
    <div id="btn-recette">
        <a href="#">Recettes</a>
    </div>
    <div id="btn-article">
        <a href="">Article</a>
    </div>
    <div id="btn-deposer">
        <a href="">Déposer une recette</a>
    </div>

    {% if app.user %}
        {% if not app.user.isAdmin %}
            <div id="btn-home">
                <a href="{{ path('welcome') }}">Home</a>
            </div>
        {% else %}
            <div id="btn-admin">
                <a href="{{ path('admin') }}">Admin</a>
            </div>
        {% endif %}
        <div id="btn-log">
        <a href="{{ path('logout') }}">Logout</a>
    {% else %}
        <a href="{{ path('login') }}">Login</a>
        <a href="{{ path('register') }}">Register</a>
        </div>
    {% endif %}

    <div id="recherche_p">
        <form action="/search" id="searchthis" method="get">
            <input id="search" name="q" type="text" placeholder="Rechercher"/>
            <input id="search-btn" type="submit" value="Rechercher" />
        </form>

    </div>

</div>
<div id="barre"></div>
