

<div class="top-right links">
    <a href="{{ path('welcome') }}"> <img src="./build/img/logo1.png"></a>
    </li>
    <div class="recherche_p">
        <form action="/search" id="searchthis" method="get">
            <input id="search" name="q" type="text" placeholder="Rechercher" />
            <input id="search-btn" type="submit" value="Rechercher" />
        </form>

    </div>
    {% if app.user %}
        {% if app.user.isAdmin %}
            <a href="{{ path('admin') }}">Admin</a>
            <a href="{{ path('app_recette_add') }}">Déposer une recette</a>
            <a href="{{ path('app_article_creation') }}">Déposer un article</a>
        {% endif %}
        <a href="{{ path('logout') }}">Logout</a>
    {% else %}
        <a href="{{ path('login') }}">Login</a>
        <a href="{{ path('register') }}">Register</a>
    {% endif %}
    <a href="{{ path('app_recette_show') }}">Recette</a>
    <a href="{{ path('app_article_show') }}">Article</a>
</div>
