{% extends "base.html.twig" %}

{% block body %}
    <div class="flex-center position-ref full-height">

        <div class="content">
            <h3> Article {{ article.id }}</h3>
            <ul>
                <li>Titre : {{ article.title }}</li>
                <li>Sommaire : {{ article.summary }}</li>
                <li>Contenu : {{ article.content }}</li>
               {% if article.media != null %}
                   <li>Media : {{ article.media.path }}</li>
                   <li><img src="{{ article.media.path }}"></li>
                   <li>Posté par : {{ article.user.name }}</li>
               {% endif %}
                <li>Vues : {{ article.hitcount }}</li>
                <li>Crée le : {{ article.createdAt | date }}</li>
                <li>Mis à jour le : {{ article.updatedAt | date }}</li>
            </ul>
            {% if app.user %}
                {% if app.user.admin %}
                    <a href="{{ path('app_article_edit', {'id' : article.id}) }}">MODIF</a>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}