{% extends "base.html.twig" %}

{% block body %}
    <div class="flex-center position-ref full-height">

        <div class="content">
            <div class="title m-b-md">
                Article
            </div>

            <a href="{{ path('app_article_tri', { "option" : "hitcount" }) }}"></a>

            <div class="grid">

            {% for article in articles %}

                <div class="article">
                    <img src="{{ article.media.path }}">
                    <h2><a href="{{ path("app_article_articleid", {'id':article.id}) }}">Articles {{ article.id }} {{ article.title }}</a></h2>
                    <p>{{ article.summary }}</p>
                    {{ article.hitcount }}
                    {% if app.user != null %}
                        {% if app.user.admin == true %}
                            <a href="{{ path('app_article_edit', {'id' : article.id}) }}"> EDIT</a>
                        {% endif %}
                    {% endif %}
                </div>

            {% endfor %}

            </div>


            <div class="links">
                <a href="http://www.iut-lens.univ-artois.fr">Marathon du Web</a>
            </div>
        </div>
    </div>
{% endblock %}